<p-sidebar [(visible)]="sidebarVisible">
  <ul class="flex flex-col gap-5">
    <li>
      <a routerLink="/mainmenu" class="hover:underline hover:underline-offset-4">Search Music</a>
    </li>
    <li>
      <a routerLink="/playlist" class="hover:underline hover:underline-offset-4">Your Playlists</a>
    </li>
    <li>
      <a routerLink="/forumthread" class="hover:underline hover:underline-offset-4">Music Forums</a>
    </li>
  </ul>
</p-sidebar>

<p-button  (click)="sidebarVisible = true" icon="pi pi-arrow-right" label="menu"></p-button>
<!-------TEMP-------->
