<div class="container mx-auto">
  <div class="bg-white shadow-lg rounded-lg p-6 max-w-md mx-auto">
    <header class="py-4 px-6">
      <h1 class="text-3xl font-bold text-center mb-4">Selected Playlist</h1>
      <a class="text-blue-600 underline text-center block" routerLink="/playlist">Back</a>
    </header>
    <ul>
      <li class="border-b-2 pb-4">

        <div class="mb-2">
          <strong class="font-bold">Title:</strong> {{ playlist?.title }}
        </div>
        <div class="mb-4">
          <strong class="font-bold">Description:</strong> {{ playlist?.description }}

          <!-- Form toggle -->
          <div *ngIf="!showForm" class="flex justify-center mt-4">
            <button pButton pRipple label="Modify" icon="pi pi-pencil" class="p-button p-button-success p-button-rounded" (click)="modifyPlaylist()"></button>
          </div>

          <!-- Display form -->
          <form *ngIf="showForm" [formGroup]="playlistForm" (ngSubmit)="saveChanges(playlist.id)" class="flex flex-col justify-center mt-4">
            <input class="bg-gray-100 px-5 py-2 rounded-md shadow focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent transition duration-300 mb-2" type="text" placeholder="Title" formControlName="title">
            <input class="bg-gray-100 px-5 py-2 rounded-md shadow focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent transition duration-300 mb-2" type="text" placeholder="Description" formControlName="description">
            <div class="flex justify-center">
              <button pButton pRipple label="Save" icon="pi pi-check" class="p-button p-button-primary p-button-rounded px-5 py-2 mr-2" type="submit"></button>
              <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button p-button-rounded p-button-danger px-5 py-2" type="button" (click)="cancelModify()"></button>
            </div>
          </form>

          <!---- Display Songs ------->
          <strong class="mt-4">Songs:</strong>
          <ul>
            <li *ngFor="let song of playlist.songs" class="flex justify-between items-center mt-2 border border-gray-300 rounded-lg p-3">
              <div>
                <strong>Artist:</strong> {{ song?.name }}<br>
                <strong>Title:</strong> {{ song?.title }}<br>
                <strong>Duration:</strong> {{ song?.duration }}<br>
              </div>
              <button pButton pRipple label="Remove" icon="pi pi-times" class="p-button p-button-danger p-button-rounded px-3 py-1 text-sm" (click)="deleteSong(song.id)"></button>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
