<div>
  <div class="container">
    <div id="one">
      <header class=" py-4 px-6">
        <h1 class="text-2xl font-bold">Your Playlists</h1>
      </header>
      <ul>
        <li class="border-b py-4">
          <div class="mb-2">
            <strong class="font-bold">ID:</strong> {{ playlist.id }}
          </div>
          <div class="mb-2">
            <strong class="font-bold">Title:</strong> {{ playlist.title }}
          </div>
          <div class="mb-4">
            <strong class="font-bold">Description:</strong> {{ playlist.description }}
          </div>

                 <strong>Songs:</strong>
                <ul>
                   <li *ngFor="let song of playlist.songs">
                    <strong> ID:</strong> {{song.id}}<br>
                    <strong>Title:</strong>{{song.title}}<br>
                   <strong>Duration:</strong>{{song.duration}}<br>
                     <button class="px-5 py-2 text-white bg-blue-600 shadow-xl"
                     (click)= deleteSong(song.id)>
                     Remove
                     </button>
               </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
