

<div class="bg-cover bg-center bg-no-repeat" style="background-image: url('https://i.imgur.com/SRKMH1n.jpg')">
  <div class="relative overflow-hidden h-screen flex flex-col justify-center items-center text-center">
    <h1 class="text-6xl font-bold text-black mb-8">Ready To Listen?</h1>
    <p class="text-xl text-gray-600">Explore our vast collection of music</p>
    <button  routerLink="/login"
             class="bg-gray-700  px-5 py-2 text-white rounded-md shadow-xl transition hover:ease-out hover:scale-110 duration-300"
    >      Get Started      </button>
  </div>
</div>
